body, html {
    padding: 0;
}
header {
    width: auto;
    padding: 10px 30px;
    background: #131313;
    margin: 0;
    display: block;
}
header h1 {
    color: #FFF;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1em;
    vertical-align: middle;
}
header input {
    margin: 0 0 0 40px;
    background: #3F3F3F;
    color: #999;
    border: none;
    border-radius: 6px;
    padding: 6px 5px;
    vertical-align: middle;
    width: 200px;
}
nav {
    width: auto;
    display: block;
    background: #672ECF;
    padding: 5px 30px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav ul li {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px 0 0;
    color: #FFF;
    cursor: pointer;
    border-radius: 0px;
    transition: border-radius 0.4s ease-out;
}
nav ul li:nth-of-type(1) {
    margin-left: -20px;
}
nav ul li.active {
    background: #ffffff;
    border-radius: 6px;
    color: #672ECF;
    font-weight: 500;
}
nav select {
    padding: 5px;
    background: #330066;
    border: none;
    color: #FFF;
    border-radius: 12px;
}
.menuBtn {
    display: none;
}
.movies {
    display: block;
    position: relative;
    padding: 20px 30px;
    background: #E7E7E7;
    height: 100%;
}
.movies > div {
    width: 24.6%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.movies > div > div {
    margin: 0 20px 20px 0;
    padding: 10px;
    background: #FFF;
    border-radius: 5px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.movies > div:nth-child(4n) > div {
    margin-right: 0px;
}
.movies img {
    max-width: 100%;
}
.movies p {
    font-size: 13px;
}
h2 {
    font-size: 22px;
    color: #672ECF;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2em;
}
.star {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #A60002;
    width: 40px;
    height: 34px;
    color: #FFF;
    text-align: center;
    display: block;
    z-index: 2;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 0 0 0;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
button {
    padding: 5px 20px;
    background: #672ECF;
    color: #FFF;
    border-radius: 6px;
    display: inline-block;
    border: none;
    cursor: pointer;
}
.pagination {
    list-style: none;
    margin: 10px 0 10px 30px;
    padding: 0;
}
.pagination li {
    display: inline-block;
    padding: 0 5px;
    border-right: solid #CCC thin;
    cursor: pointer;
    color: #672ECF;
}
.pagination li:nth-last-of-type(1) {
    border-right: none;
}
.pagination li:nth-of-type(3) {
    cursor: default;
    color: #111;
}
.modal-overlay {
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    z-index: 3;
    padding-bottom: 40px;
}
.modal {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
    background: #FFF;
    border-radius: 10px;
    position: relative;
    z-index: 4;
    top: 50px;
    padding: 25px;
}
.buttonWrapper {
    width: auto;
    display: inline-block;
}
.modal i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    padding: 3px;
    background: #672ECF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 0.4em;
    transform: rotate(0deg);
    transition: transform 0.4s ease-out;
}
.modal i:hover {
    transform: rotate(360deg);
}
.modal div.tab > section {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.modal div.tab > section:nth-of-type(1) {
    width: 23%;
}
.modal div.tab > section:nth-of-type(2) {
    width: 75%;
}
.modal .tabs-nav {
    display: block;
    max-width: 90%;
    border-bottom: solid #666 2px;
}
.tabs-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs-nav ul li {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.tabs-nav ul li.active {
    border-bottom: solid #666 4px;
}
.poster {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    margin: 0 10px 10px 0;
}
.poster img {
    max-width: 100%;
}
.credit {
    background: #E9E9E9;
    padding: 3px;
    margin: 0 0 2px 0;
}
.credit img {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    margin-right: 20px;
}
.credit div {
    display: inline-block;
    width: 39%;
    vertical-align: middle;
}
footer {
    background: #131313;
    padding: 10px 30px;
    display: block;
    color: #FFF;
}
footer a {
    color: #672ECF;
    text-decoration: none;
}
footer p {
    display: inline-block;
}
footer p:nth-of-type(2) {
    float: right;
}
p.overview {
    font-size: 13px;
}
strong {
    font-weight: 600;
}
.video {
    display: inline-block;
    margin: 0 10px 10px 0;
}
.spinner {
    display: block;
    width: 50px;
    margin: 20px auto;
    position: relative;
    padding: 50px;
}
.spinner span {
    width: 20px;
    height: 20px;
    background: #672ECF;
    position: absolute;
    border-radius: 50%;
    transition: left 0.5s ease-out;
}

@media screen and (max-width: 1024px) {
    .movies > div {
        width: 33%;
    }
    .movies > div:nth-child(4n) > div {
        margin-right: 20px;
    }
}
@media screen and (max-width: 768px) {
    .movies > div {
        width: 49%;
    }
    .modal div.tab > section:nth-of-type(1) {
        width: 40%;
    }
    .modal div.tab > section:nth-of-type(2) {
        width: 56%;
    }
}
@media screen and (max-width: 720px) {
    nav ul {
        position: absolute;
        top: 92px;
        left: 0px;
        background: #672ECF;
        padding: 20px;
        width: auto;
        display: block;
        z-index: 2;
        border-bottom-right-radius: 10px;
        transform: scale(0, 0);
        transform-origin: 0 0;
        transition: transform 0.4s ease-out;
    }
    nav ul.active {
        transform: scale(1, 1);
    }
    nav ul li {
        display: block;
    }
    nav select {
        float: right;
    }
    nav .menuBtn {
        display: inline-block;
        z-index: 3;
    }
    nav .menuBtn .active {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }
    nav ul li:nth-of-type(1) {
        margin-left: 0px;
    }
    
}
@media screen and (max-width: 425px) {
    nav #menu {
        top: 140px;
    }
    .movies > div {
        width: 100%;
    } 
    .movies > div > div {
        margin-right: 0px;
    }
    header input {
        margin: 10px 0;
    }
    footer p {
        display: block;
    }
    footer p:nth-of-type(2) {
        float: none;
    }
    .modal div.tab > section:nth-of-type(1) { 
        width: 100%;
    }
    .modal div.tab > section:nth-of-type(2) {
        width: 100%;
    }
    .poster {
        width: 46%;
    }
    
}